.login-btn{
    color: #fff;
    padding: .8em 0;
    font-size: 1em;
    -webkit-appearance: none;
    background-color: transparent;
    border: solid 0;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	-o-border-radius: 35px;
	-ms-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}